*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*GENERICS*/
body{
    background-color: hsl(219deg 26% 11%);
    font-family: 'Open Sans', sans-serif;
}

.header{
    background-color: hsl(222deg 38% 5%);
    height: 90px;
    width: 90%;
    float: right;
 
}

.left-bar{
    position: relative;
    background-color: hsl(0deg 0% 0%);
    width: 10%;
    height: 100vh;
}


.play-bar{
    background-color: hsl(0deg 0% 16%);
    height: 90px;
    width: 100%;
}

/*UTILITIES*/
.white{
    color: white;
}

.txtNONE{
    text-decoration: none;
}

.flex{
    display: flex;
}

/*CONTENT*/
.header a{
    font-size: 80%;
    border-radius: 20px;
    border: 1px solid white;
    padding: 10px 40px;
    float: right;
    margin: 20px 10px 0px 0px;
    
}
