*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*GENERICS*/
body{
    background-color: hsl(219deg 26% 11%);
    font-family: 'Open Sans', sans-serif;
}

.header{
    background-color: hsl(222deg 38% 5%);
    height: 90px;
    width: 90%;
    float: right;
 
}



.play-bar{
    background-color: hsl(0deg 0% 16%);
    height: 90px;
    width: 100%;
}

/*UTILITIES*/
.white{
    color: white;
}

.grey{
    color: hsl(0deg 0% 54%);
}

.txtNONE{
    text-decoration: none;
}

.flex{
    display: flex;
}

.column{
    flex-direction: column;
}

.A-center{
    align-items: center;
}

/*CONTENT*/
.header a{
    font-size: 80%;
    border-radius: 20px;
    border: 1px solid white;
    padding: 10px 40px;
    float: right;
    margin: 20px 10px 0px 0px;
    
}

/*left bar*/
.left-bar{
    background-color: hsl(0deg 0% 0%);
    height: 100vh;
    justify-content: space-between;
}

.left-bar i{
    margin: 6px 0px 12px 0px;
}

.left-bar :first-child{
    font-size: 24px;
}

.left-bar :nth-child(2){
    color: hsl(0deg 0% 82%);;
}
.nav-bottom >a{
    font-size: 20px;
}


